<div class="text-center mt-3">
  <h2>Players</h2>
</div>

<div class="row">
  <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
    <app-player-card [user]="user"></app-player-card>
  </div>
</div>