<div *ngIf="gameState !== null">
  <p>
    Game id: {{gameState?.id}}
  </p>
  <span>Current player: {{getCurrentPlayer()?.userName}}</span>
  <br>
  <button (click)="clickPosition(0,0)">{{gameState?.state[0][0] === null ? '[]' : gameState?.state[0][0] === true ? 'X'
    :
    'O'}}</button>
  <button (click)="clickPosition(0,1)">{{gameState?.state[0][1] === null ? '[]' : gameState?.state[0][1] === true ? 'X'
    :
    'O'}}</button>
  <button (click)="clickPosition(0,2)">{{gameState?.state[0][2] === null ? '[]' : gameState?.state[0][2] === true ? 'X'
    :
    'O'}}</button>
  <br>
  <button (click)="clickPosition(1,0)">{{gameState?.state[1][0] === null ? '[]' : gameState?.state[1][0] === true ? 'X'
    :
    'O'}}</button>
  <button (click)="clickPosition(1,1)">{{gameState?.state[1][1] === null ? '[]' : gameState?.state[1][1] === true ? 'X'
    :
    'O'}}</button>
  <button (click)="clickPosition(1,2)">{{gameState?.state[1][2] === null ? '[]' : gameState?.state[1][2] === true ? 'X'
    :
    'O'}}</button>
  <br>
  <button (click)="clickPosition(2,0)">{{gameState?.state[2][0] === null ? '[]' : gameState?.state[2][0] === true ? 'X'
    :
    'O'}}</button>
  <button (click)="clickPosition(2,1)">{{gameState?.state[2][1] === null ? '[]' : gameState?.state[2][1] === true ? 'X'
    :
    'O'}}</button>
  <button (click)="clickPosition(2,2)">{{gameState?.state[2][2] === null ? '[]' : gameState?.state[2][2] === true ? 'X'
    :
    'O'}}</button>
</div>