.card {
    border: none;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rounded-circle {
    height: 32px;
    width: 32px;
}

.chat-body {
    margin-bottom: 15px;
}

/* .card-body {
    overflow-y: auto;
    height: 400px;
} */

