<div class="bs-component">
  <div class="card mb-3 rounded">
    <div class="card-header">
      <h5 class="card-title float-left">Global chat</h5>
      <h6 class="card-subtitle text-muted float-right mt-1">Online: {{onlineUsers.total}}
        <small>({{onlineUsers.guests}} guest{{ onlineUsers.guests == 1 ? '' : 's'}})</small>
      </h6>
    </div>
    <div class="card-body">
      <p-scrollPanel  [style]="{ height: '400px'}">
        <ul class="chat">
          <li *ngFor="let message of messages">
            <!-- to them -->
            <span class="chat-img float-left">
              <img src="{{message.senderAvatarUrl || '../../assets/avatar.png'}}" alt="{{message.senderUserName}}" class="rounded-circle mr-2">
            </span>
  
            <div class="chat-body">
              <div class="header">
                <strong class="primary-font">{{message.senderUserName | titlecase}}{{authService.currentUser?.userName ==
                  message.senderUserName ? '*' : ''}}</strong>
                <small class="text-muted float-right mt-1">
                  <i class="pi pi-clock" style="font-size: 1.4em"></i>
                  {{message.dateSent | timeAgo}}
                </small>
              </div>
              <p>{{message.content}}</p>
            </div>
  
          </li>
        </ul>
    </p-scrollPanel>
    </div>
    <div class="card-footer">
      <form *ngIf="isLoggedIn()" #messageForm="ngForm" (ngSubmit)="messageForm.dirty && sendMessage()">
        <div class="input-group rounded">
          <input [(ngModel)]="messageContent" name="content" required type="text" class="form-control input-sm"
            placeholder="Send a chat message.">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" [disabled]="!messageForm.dirty">Send</button>
          </div>
        </div>
      </form>

      <span *ngIf="!isLoggedIn()">Log in to send chat messages.</span>

    </div>
  </div>
</div>