<nav class="navbar navbar-expand navbar-dark bg-dark mt-2 rounded">
  <a class="navbar-brand" [routerLink]="['/home']">Dummy Games</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/players']">Players</a>
      </li>
    </ul>

    <div *ngIf="isLoggedIn()" class="dropdown" dropdown>
      <span class="mr-1">
        <img src="{{avatarUrl || '../../assets/avatar.png'}}" alt="">
      </span>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="this.authService.logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

    <form *ngIf="!isLoggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2 rounded" type="text" name="identifier" placeholder="Username/Email" required
        [(ngModel)]="model.identifier">
      <input class="form-control mr-sm-2 rounded" type="password" name="password" placeholder="Password" required
        [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0 rounded" type="submit">Login</button>
    </form>
  </div>

</nav>