<div class="container">
	<app-nav></app-nav>
	<div class="row">
		<div class="col-md-8 mt-3">
			<app-play></app-play>
			<router-outlet></router-outlet>
		</div>
		<div class="col-md-4 mt-3">
			<app-chat></app-chat>
		</div>
	</div>
</div>