<alert *ngIf="isGameInProgress && !isPlayComponent()" type="info">
  <strong>Game in progress! </strong> <a [routerLink]="['/play/tictactoe']" class="alert-link">Click here</a> to redirect to the
  game window.
</alert>