<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{user.avatarUrl || '../../../assets/avatar.png' }}" alt="{{user.userName}}">
    <ul class="list-inline member-icons animate text-center">
      <!-- <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/players/', user.id]"><i class="fas fa-info-circle"></i></button></li> -->
      <li class="list-inline-item"><button (click)="challengeTest()" class="btn btn-primary"><i class="fas fa-gamepad"></i></button></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      {{user.userName}}
    </h6>
    <p class="card-text text-muted text-center"><i class="fa fa-coins">{{user.balance}}</i></p>
  </div>
</div>