<div class="container mt-5">
  <div *ngIf="!isRegisterMode" style="text-align: center">
    <h1>Join now</h1>
    <p class="lead">Challenge opponent & have fun... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
    </div>
  </div>

  <div *ngIf="isRegisterMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
