<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" [ngClass]="{'is-invalid' : registerForm.get('userName').errors 
    && registerForm.get('userName').touched}"
      class="form-control" formControlName="userName" placeholder="Username">
    <div class="invalid-feedback">Please choose a username.</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" class="form-control"
      placeholder="Email" formControlName="email">
    <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
      Email is required.</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">
      Invalid email.</div>
  </div>

  <div class="form-group">
    <input type="password" [ngClass]="{'is-invalid' : registerForm.get('password').errors 
      && registerForm.get('password').touched}"
      class="form-control" formControlName="password" placeholder="Password">

    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') 
      && registerForm.get('password').touched">
      Password is required.
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') 
        && registerForm.get('password').touched">
      Password must be at least 5 characters.
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') 
          && registerForm.get('password').touched">
      Password cannot exceed 24 characters.
    </div>
  </div>

  <div class="form-group">
    <input type="password" [ngClass]="{'is-invalid' : registerForm.get('confirmPassword').errors 
    && registerForm.get('confirmPassword').touched
    || registerForm.get('confirmPassword').touched 
    && registerForm.hasError('mismatch')}"
      class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
    <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') 
      && registerForm.get('confirmPassword').touched">
      Confirm Password is required.
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') 
    && !registerForm.get('confirmPassword').hasError('required')
    && registerForm.get('confirmPassword').touched">
      Passwords must match.
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-secondary ml-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>